# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build directories
dist/
dist-ssr/
build/
.out/
.next/
out/

# Cache
.cache/
.vite/
.parcel-cache/

# Environment
*.local
.env
.env.*.local

# # Radix UI / Bundler chunks metadata
*_metadata.json
*.chunk.js
*.chunk.css

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
